<!DOCTYPE html>
<html lang="en">
 
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Food Classifier</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="{{ url_for('static',filename='styles/style.css') }}" type="text/css" rel="stylesheet" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="static/js/script.js"></script>
</head>
 
<body>
    <div class="container">
        <form class="form-predict"  role="form">
		<h2 class="form-predict">Please Submit Photo</h2>
		<input type="file" name="pic" accept="image/*" id="image">     
        <button class="btn btn-lg btn-primary btn-block" type="button" id="upload">Submit Image</button>
		</form>   
	 </div>  
	 
	<div class="container" id='prediction' style="display:none">
		<h2>Prediction Results</h2>
		<p id="msg"></p>
	</div>
	<div class='container' id="response-form-container" style="display:none">
		<form id='response-form'>
			<h3>Was the prediction correct?</h3>
			<input type="radio" name='correct' value=1>Yes</input>
			<br/>
			<input type="radio" name='correct' value=0>No</input>
			<br/>
			If Incorrect, please enter correct label below:
			<br/>
			<input type="text" id="response-label"/>
			<br/>
			<button class="btn btn-lg btn-primary btn-block" type="submit" id="response-btn">Submit Response</button>
		</form>
	</div>

</body>
 
</html>